{% extends 'shared/layout.html' %}
{% block conteudo %}

{{msg}}
<form action="/" method="post">
    {% csrf_token %}
    <h2> Crie sua Conta </h2>
    <div >
        <div class="campo">
            <label> Nome </label>
            <input class='nome' type="text" name="nome" required>

            <label> Sobrenome </label>
            <input class='sobrenome' type="text" name="sobrenome" required>
        </div>

        <div class="campo">
            <label> E-mail </label>
            <input type="email" name="email" required>
        </div>

        <div class="campo">
            <label for=""> Gênero </label>
            <select name="genero" required>
                <option value=""> Selecione </option>
                <option value="F">Feminino</option>
                <option value="M">Masculino</option>
                <option value="O">Outro</option>
            </select>
        </div>

        <div class="box1">
            <label for=""> Biografia </label>
            <textarea name="biografia" cols="60" rows="10">
        </textarea>
        </div>

        <div class="box2">
            <input class='botao' type="submit" value="CADASTRAR">
        </div>
    </div>
</form>

{% endblock %}